<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="public-html-header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="Fei">
<link href="../../../../public/css/bootstrap.min.css" rel="stylesheet">
<link href="../../../../public/css/signin.css" rel="stylesheet">
<link href="../../../../public/css/bootstrap-theme.min.css"
	rel="stylesheet">
<link href="../../../../public/css/ie10-viewport-bug-workaround.css"
	rel="stylesheet">
<link href="../../../../public/css/theme.css" rel="stylesheet">
<script src="../../../../public/js/ie-emulation-modes-warning.js"></script>
<link href="../../css/user_message.css" rel="stylesheet">
<title>我的订单</title>
</head>
<body>
	<nav class="nav">
		<!--mark1  -->
		<a href="#" class="nav-a">主页</a> <a href="#" class="nav-a">我的订单</a> <a
			href="#" class="nav-right">个人中心</a>
	</nav>
	<div class="container theme-showcase">
		<div class="user_info">
			<div class="user_img">
				<img alt="xxx" src="../../image/tubiao.jpg" class="standerd">
			</div>
			<div class="user_detail">
				<div class="user_name">你好，普通用户</div>
				<div class="user_service">
					<div class="service_list">
						<div class="list_item">
							<span class="glyphicon glyphicon-user"></span><br />
							<span>我的订单</span>
						</div>
						<div class="list_item">
							<span class="glyphicon glyphicon-shopping-cart"></span><br />
							<span>我的小车</span>
						</div>
						<div class="list_item">
							<span class="glyphicon glyphicon-bell"></span><br />
							<span>更多服务</span>
						</div>
						<div class="list_item">
							<span class="glyphicon glyphicon-user"></span><br />
							<span>独立开发</span>
						</div>
						<div class="list_item">
							<span class="glyphicon glyphicon-heart"></span><br />
							<span>流程娴熟</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sec_row">
			<div class="user_ads">
				<span>默认地址：XXXX</span>
				<button class="btn btn-warning pull-right mybtn" data-toggle="modal" data-target="#myModal">修改地址</button>
			</div>
		</div>

		<!-- Modal模态框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">默认地址修改</h4>
					</div>
					<div class="modal-body">
						<label></label>
						新地址：<input type="text">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary">保存</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../../../public/jquery/jquery.min.js"></script>
<script src="../../../../public/js/bootstrap.min.js"></script>
<script src="../../../../public/js/ie10-viewport-bug-workaround.js"></script>

<script type="text/javascript">
	
</script>
</html>