@CHARSET "UTF-8";
.menu-item-left{
	padding: 2px; 
	background: transparent;
	border:1px solid transparent;
	border-radius: 6px;
}
.menu-item-left:hover{
	background:#C4E3F3;
	border:1px solid #1E90FF;
}